---
import { marked } from 'marked';           // ①

const { Component, props } = Astro.props;
const { text, content } = props;

const htmlContent = content ? marked(content) : null; 
//console.log("Conteúdo TimelineBullet: ", htmlContent)

---
<div>
    <Component text={text} />
    <Fragment set:html={htmlContent} />
</div>