@use '../config/config' as *;

html{
	scroll-behavior: smooth;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	max-width: 100dvw;
}

body{
	@include type('b-m');
	color: $clr-txt;
	background-color: $clr-bg;
	max-width: 100vw;
	box-sizing: border-box;

	&.debug-map-transitions .map__view {
    opacity: 1;
  }
}