@use './breakpoints' as *;

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

//fonts family variables
$type-var-prefix: "tp";
$mainfont: "Noto Serif";
$displayfont: "Rubik";

$types : (	
	'b-xs': (('break': false,
			'responsive': false,
			'font-size': 12,
			'line-height': 1.333,
			'font-weight': 400,
			'font-family': var(--ff-text, $mainfont),
		),
	),
	
	'b-s': (('break': false,
			'responsive': false,
			'font-size': 14,
			'line-height': 1.42,
			'font-weight': 400,
			'font-family': var(--ff-text, $mainfont),
		),
	),
	
	'b-m': (('break': false,
			'responsive': false,
			'font-size': 16,
			'line-height': 1.5,
			'font-weight': 400,
			'font-family': var(--ff-text, $mainfont),
		),
	),
	
	'c-xs': (('break': false,
			'responsive': false,
			'font-size': 12,
			'line-height': 1.333,
			'font-weight': 400,
			'font-family': var(--ff-display, $displayfont),
		),
	),
	
	'c-s': (('break': false,
			'responsive': false,
			'font-size': 14,
			'line-height': 1.42,
			'font-weight': 400,
			'font-family': var(--ff-display, $displayfont),
		),
	),
	
	'c-m': (('break': false,
			'responsive': false,
			'font-size': 16,
			'line-height': 1.5,
			'font-weight': 400,
			'font-family': var(--ff-display, $displayfont),
		),
	),
	
	'h-xs': (('break': false,
			'responsive': false,
			'font-size': 20,
			'line-height': 1.4,
			'font-weight': 700,
			'letter-spacing': -2,
			'font-family': var(--ff-display, $displayfont),
		),
	),
	
	'h-s': (('break': false,
			'responsive': false,
			'font-size': 24,
			'line-height': 1.333,
			'font-weight': 700,
			'letter-spacing': -2,
			'font-family': var(--ff-display, $displayfont),
		),
	),
	
	'h-m': (('break': false,
			'responsive': false,
			'font-size': 28,
			'line-height': 1.28,
			'font-weight': 700,
			'letter-spacing': -2,
			'font-family': var(--ff-display, $displayfont),
		),
	),
	
	'h-l': (('break': false,
			'responsive': false,
			'font-size': 32,
			'line-height': 1.25,
			'font-weight': 700,
			'letter-spacing': -2,
			'font-family': var(--ff-display, $displayfont),
		),
	),
	
	'h-xl': (('break': false,
			'responsive': false,
			'font-size': 36,
			'line-height': 1.2222222222,
			'font-weight': 700,
			'letter-spacing': -2,
			'font-family': var(--ff-display, $displayfont),
		),
	),
	
	'h-xxl': (('break': false,
			'responsive': false,
			'font-size': 40,
			'line-height': 1.2,
			'font-weight': 700,
			'letter-spacing': -2,
			'font-family': var(--ff-display, $displayfont),
		),
	),
	
	'd-xs': (('break': false,
			'responsive': false,
			'font-size': 44,
			'line-height': 1.18,
			'font-weight': 700,
			'letter-spacing': -2,
			'font-family': var(--ff-display, $displayfont),
		),
	),
	
	'd-s': (('break': false,
			'responsive': false,
			'font-size': 48,
			'line-height': 1.1666,
			'font-weight': 700,
			'letter-spacing': -2,
			'font-family': var(--ff-display, $displayfont),
		),
	),
	
	'd-m': (('break': false,
			'responsive': false,
			'font-size': 52,
			'line-height': 1.15,
			'font-weight': 700,
			'letter-spacing': -2,
			'font-family': var(--ff-display, $displayfont),
		),
	),
	
	'd-l': (('break': false,
			'responsive': false,
			'font-size': 56,
			'line-height': 1.14,
			'font-weight': 700,
			'letter-spacing': -2,
			'font-family': var(--ff-display, $displayfont),
		),
	),
	
	'd-xl': (('break': false,
			'responsive': false,
			'font-size': 60,
			'line-height': 1.133,
			'font-weight': 700,
			'letter-spacing': -2,
			'font-family': var(--ff-display, $displayfont),
		),
	),

) !default;
