$default_prefix: 'atnlbs';
$rt: '.rt';
$default_text_margin: 20px;
$default_vertical_spacer: 40px;
$default_transition: ease .3s;
$media_max_height: 81dvh;

// to use only in places where the content might respect user definitions
$clr-txt: var(--clr-txt, var(--clr-black));
$clr-txt-rgb: var(--clr-txt-rgb, var(--clr-black-rgb));
$clr-bg: var(--clr-bg, var(--clr-white));
$clr-bg-rgb: var(--clr-bg-rgb, var(--clr-white-rgb));
$clr-hl: var(--clr-hl, var(--clr-highlight));
$clr-hl-rgb: var(--clr-hl-rgb, var(--clr-highlight-rgb));
$clr-bg-hl: var(--clr-bg-hl, var(--clr--bg-highlight));
$clr-bg-hl-rgb: var(--clr-bg-hl-rgb, var(--clr--bg-highlight-rgb));