[data-map-anchor]{
  position: absolute;
  left:20px;
  opacity: 0;
  border-bottom: 1px solid yellow;
  border-left: 1px dashed yellow;
  color: black;
  max-width: 200px;
  font-size: 12px;
  line-height: 14px;
  span{
    background-color: rgba(255, 255, 0, 0.9);
  }
}

[data-map-anchor].odd{
  border-color: yellowgreen;
  span{
    background-color: rgba(153, 205, 50, 0.9);;
  }
}

[data-map-displacer]{
  border-top: 1px solid magenta;
  height: 1px;
  opacity: 0;
}

.debug-map-transitions [data-map-anchor],
.debug-map-transitions [data-map-displacer]{
  opacity: 1;
}