---
import Layout from "../layouts/Layout.astro";
import MapBox from "../components/MapBox.astro";
import IntroductionSection from "./index/IntroductionSection.astro";
import MainContentSection from "./index/MainContentSection.astro";
import CallToActionSection from "./index/CallToActionSection.astro";
import CardsCallSection from "./index/CardsCallSection.astro";
import MapTimelineSection from "./index/MapTimelineSection.astro";
import AdditionalCTASection from "./index/AdditionalCTASection.astro";
import AdditionalMapSection from "./index/AdditionalMapSection.astro";
import SupportSection from "./index/SupportSection.astro";
import MapSection from "./index/MapSection.astro";
---

<Layout title="Documental.xyz">
  <main>
    <!-- Chamada da Seção MapBox (sempre no topo) -->
    <MapBox />

    <!-- Chamada da Seção de Introdução -->
    <IntroductionSection />

    <!-- Chamada da Seção de Conteúdo Principal -->
    <MainContentSection />

    <!-- Chamada da Seção de Chamadas para Ação (CTA) -->
    <CallToActionSection /> 

    <!-- Chamada da Seção Adicional de CTA com Destaque -->
    <AdditionalCTASection />

    <!-- Chamada da Seção de Cards Call -->
    <CardsCallSection />

    <!-- Chamada da Seção de Mapa com Timeline -->
    <MapTimelineSection />

    <!-- Chamada da Seção Adicional de Mapa -->
    <AdditionalMapSection />

    <SupportSection />

    <MapSection />

  </main>

  <style lang="scss">
    main {
      background-color: var(--clr-bg, transparent);

      :global(> .spacer) {
        position: relative;
        background-color: inherit;
      }
    }
  </style>
</Layout>