<span class="caption">
  <slot />
</span>

<style lang="scss">
  @use "../assets/styles/config/config" as *;

  .caption {
    @include type("b-s");
    display: block;
    margin-top: 20px;
  }
</style>
