---
import Image from "astro/components/Image.astro";
import img from "../assets/images/map.png";
import MapboxLayout from "../layouts/components/MapboxLayout.astro";

const { mapboxData } = Astro.props;

const Fragment = 'div';
---

<MapboxLayout Component={Fragment} props={{ mapboxData }}>
  <div id="mapbox"></div>
  <div id="mapbox-clone"><div></div></div>
</MapboxLayout>

<style lang="scss">
  @use "../assets/styles/config/config" as *;

  #mapbox {
    position: fixed;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    height: 100%;
    width: 100%;
    transition: opacity 1s ease;
    opacity: 0;
    background-color: black;

    @include media-break-down(l) {
      font-size: 60px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    :global(#mapbox.mobile .map) {
      --map-height-mobile: 52vh;
      margin-top: var(--map-height-mobile);
      position: relative;

      &::after {
        content: "";
        display: block;
        min-height: 100vh;
      }

      & + .map::after {
        display: none;
      }
    }

    :global(.mapboxgl-ctrl-bottom-left),
    :global(.mapboxgl-ctrl-bottom-right) {
      display: none;
    }
  }

  #mapbox-clone{
    position: fixed;
    height: var(--map-height-mobile);
    overflow: hidden;
    width: 100%;
    z-index: 3;
    pointer-events: none;

    @include media-break-up(l) {
      display: none;
    }

    div{
      min-height: 100vh;
      transition: opacity 1s ease;
      opacity: 0;
      background-color: black;
    }
  }
  
</style>

<script is:inline>
  if (typeof window.mapConfig === 'undefined') {
    console.warn('MapBox: window.mapConfig não foi definido. Verifique se os dados do mapbox estão configurados na página.');
  }
  
  if (typeof window.mapBoxToken === 'undefined') {
    console.warn('MapBox: window.mapBoxToken não foi definido. Verifique se o token está configurado na página.');
  }
  
  if (typeof window.mapViews === 'undefined') {
    console.warn('MapBox: window.mapViews não foi definido. Verifique se as views estão configuradas na página.');
    window.mapViews = {};
  }
</script>
