<div class="timeline" data-timeline>
  <slot />
</div>

<style lang="scss">
  .timeline {
    padding-left: 32px;
    position: relative;

    &::before {
      content: '';
      width: 2px;
      min-height: 100vh;
      height: 120%;
      display: block;
      position: absolute;
      left: 5px;
      top: 2px;
      background-color: var(--clr-txt);
      opacity: 0.2;
    }
   
    &::after {
      content: '';
      width: 2px;
      height: var(--timeline-height, 0);
      display: block;
      position: absolute;
      left: 5px;
      top: 2px;
      background-color: var(--clr-txt);
    }
  }
</style>
<script>
import ScrollObserver from "../assets/scripts/utils/ScrollObserver";

function activeTimelineBullet() {
  const timelineItems = document.querySelectorAll('[data-timeline-bullet]');
    
  timelineItems.forEach((item, index) => {
    const scrollObserver = new ScrollObserver();

    scrollObserver.observe(item, (data) => {
      const { element, isVisible, boundingRect } = data;
              
      if(!isVisible) return;

      const windowStartingPoint = window.innerHeight * .52;      
      const isInRange = boundingRect.top <= windowStartingPoint && boundingRect.bottom >= 0;

      if (isInRange) {
        element.classList.add('active');
      } else {
        element.classList.remove('active');
      }
    });
  });
}

function updateTimelineLine() {
  const timelines = document.querySelectorAll('[data-timeline]');
  
  timelines.forEach(timeline => {
    const scrollObserver = new ScrollObserver();

    scrollObserver.observe(timeline, (data) => {
      const { element, isVisible, boundingRect, } = data;
      
      const boundintTop = boundingRect.top;
      const windowStartingPoint = window.innerHeight * .52;

      if(!isVisible || boundintTop - 100 > windowStartingPoint) return;

      element.style.setProperty('--timeline-height', Math.max(Math.round(-1 * boundintTop + windowStartingPoint), 0) + 'px');
    });

  });
}

document.addEventListener('DOMContentLoaded', activeTimelineBullet);
document.addEventListener('DOMContentLoaded', updateTimelineLine);

</script>