---
import '../assets/styles/main.scss';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preload stylesheet" as="style" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=block">
		<script src="https://api.mapbox.com/mapbox-gl-js/v3.7.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.7.0/mapbox-gl.css" rel="stylesheet">
		<script src="/src/assets/scripts/MapBoxHandler.js" is:inline></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<script>
	const isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
	isSafari && document.body.classList.add('is-safari');
</script>

<style lang="scss">
	@use "../assets/styles/config/config" as *;

	:global(:root) {
		--clr-bg: #F0EAD9;
		--clr-txt: #006A49;
		--clr-hl: #FF7967;

		--map-height-mobile: 52vh;

		--mt-s: 40px;
		--mt-m: 80px;
		--mt-l: 120px;

		@include media-break-down(xl) {
			--mt-s: 30px;
			--mt-m: 60px;
			--mt-l: 90px;
		}
	}
</style>