---
const { byline } = Astro.props;
---
<blockquote class:list={["pullquote", byline && "pullquote--has-byline"]}>
  <slot />
  {byline && <div class="pullquote__byline"><slot name="byline" /></div>}
</blockquote>

<style lang="scss">
  @use "../assets/styles/config/config" as *;

  .pullquote {
    margin-inline: 0;
    margin-bottom: 0;
    padding-left: 1.5em;
    position: relative;
    font-style: italic;
    font-size: 1.2em;
    line-height: 1.4;
    color: var(--clr-text);
    border-left: 4px solid var(--clr-hl);

    &--has-byline {
      margin-bottom: 1.5em;
    }

    &__byline {
      font-style: normal;
      font-size: 0.9em;
      margin-top: 0.5em;
      color: var(--clr-gray);
    }
  }
</style>
