---
const { Component, props } = Astro.props;
const { text, contentBullet } = props;

console.log("Conteúdo TimelineBullet: ", contentBullet )
---
<Component text={text} >
    <div set:html={contentBullet} >                                                   
        <slot />                                                                      
    </div>

</Component>
